@font-face {
	font-family: CascadiaCode;
	src: url("fonts/Cascadia.otf");
}

:root {
	--background: #101018;

	--primaryText: #E0E0E8;
}

@keyframes transparency {
	0% {
		opacity: 1;
		/* scale: 1; */
	}
	100% {
		opacity: 0;
		/* scale: 0.9; */
	}
}

body {
	background-color: var(--background);
	color: var(--primaryText);
	font-family: CascadiaCode, 'Courier New', Courier, monospace;

	padding: 0;
	margin: 0;

	overflow-x: none;

	perspective: 24px;
}

div.column2 {
	display: flex;
	flex-direction: row;
}

div.sectionTitles {
	margin: 1vw;
	font-size: 32px;
	font-weight: 800;
}

span.issuesContainer {
	margin: 1vw;
	display: flex;
	flex-direction: column;
	width: 31vw;
	/* align-items: flex-start; */
	/* gap: 1ch; */
}

span.issuesContainer .issueContainer:first-child {
	border-top: 1px solid #404040;
	border-top-left-radius: 2ch;
	border-top-right-radius: 2ch;
}
span.issuesContainer .issueContainer:last-child {
	border-bottom-left-radius: 2ch;
	border-bottom-right-radius: 2ch;
}
span.issuesContainer .issueContainer:nth-child(even) {
	background-color: #1a1a23;
}

span.issuesContainer .issueContainer:hover {
	background-color: hsl(240, 20%, 10%);
}

div.issueContainer {
	display: flexbox;
	z-index: 1;
	padding: 2ch;
	background-color: #181820;
	border-bottom: 1px solid #404040;
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
	opacity: 0;

	animation-name: transparency;
	animation-duration: 0.2s;
	animation-direction: reverse;
	animation-iteration-count: 1;
	animation-delay: attr(the);
	animation-fill-mode: forwards;
}

div.issueContainer div.wrapper {
	display: flex;
	justify-content: left;
	align-items: center;
}

div.issueContainer div.wrapper a.issueTitle {
	text-decoration: none;
	color: inherit;
	display: inline;
	font-size: 24px;
	font-weight: 800;
}

div.issueContainer div.nothing {
	display: flex;
	justify-content: center;
	align-items: center;
	color: inherit;
	width: 100%;
	height: 8ch;
	font-size: 24px;
}

div.issueContainer div.wrapper div.augmentedText  {
	display: inline;
	padding-left: 1ch;
	font-size: 24px;
	font-weight: 400;
	color: #808080;
}

div.issueContainer div.wrapper img.profile {
	width: 4ch;
	height: 4ch;
	margin-right: 2ch;
	object-fit: cover;
	background-repeat: no-repeat;
	border-radius: 25%;
}

div.issueContainer div.wrapper .tag {
	padding-top: 0.25ch;
	padding-bottom: 0.25ch;
	padding-left: 1ch;
	padding-right: 1ch;
	margin-left: 1ch;
	border-radius: 0.5ch;
	color: #FFFFFF;
	font-weight: 800;
	mix-blend-mode: difference;
}

div.issueContainer div.issueContent {
	white-space: pre-wrap;
	padding-top: 1ch;
	font-size: 16px;
	font-weight: 400;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
